# Feature engineering in Pandas

## Loading/Exploring the data

Load the iris.csv file from this repo into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [1]:
import pandas as pd

Read the `../data/iris.csv` dataset into an object named `iris`

In [6]:
iris = pd.read_csv('../data/iris.csv')

How many different species are in this dataset?

In [8]:
iris['species'].nunique()

3

What are their names?

In [9]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [20]:
iris['species'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [36]:
iris['sepal_ratio'] = iris['sepal width (cm)'] / iris['sepal length (cm)']

iris.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857

Create a similar column called `'petal_ratio'`: petal width / petal length

In [37]:
iris['petal_ratio'] = iris['petal width (cm)'] / iris['petal length (cm)']
iris.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [39]:
iris['sepal_length_in'] = iris['sepal length (cm)'] * 0.393701
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio,sepal_length_in
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007875
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929135
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850395
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811025
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968505

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


<details><summary>Hint 1</summary>
Create a dictionary using the species as keys and the numbers 0-2 for values
</details>

<details><summary>Hint 2</summary>
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column
</details>

In [41]:
iris['encoded_species']=iris['species'].replace({'setosa':0,'versicolor':1,'virginica':2})
iris.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio,sepal_length_in,encoded_species
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007875,0
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929135,0
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850395,0
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811025,0
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968505,0

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `../data/ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [46]:
seeds = pd.read_csv('../data/ncaa-seeds.csv')

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [48]:
def seed_div(seed):
    return seed[-1]

seeds['team_div'] = seeds['team_seed'].apply(seed_div)
seeds['opp_div'] = seeds['opponent_seed'].apply(seed_div)

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [53]:
def seed_only(value):
    return value[:-1]
seeds['team_seed']


# def seed_only(value):
#     return int(value[:-1])
# seeds['team_seed'] = seeds['team_seed'].apply(seed_only)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     1
9     2
10    3
11    4
12    5
13    6
14    7
15    8
16    1
17    2
18    3
19    4
20    5
21    6
22    7
23    8
24    1
25    2
26    3
27    4
28    5
29    6
30    7
31    8
Name: team_seed, dtype: int64

In [55]:
seeds.head(5)

   team_seed opponent_seed team_div opp_div
0          1           16N        N       N
1          2           15N        N       N
2          3           14N        N       N
3          4           13N        N       N
4          5           12N        N       N

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>